---
import { Image } from "astro:assets";
interface Props {
  title: string;
  body: string;
  image: ImageMetadata;
  altImg: string;
}

const { title, image, body, altImg } = Astro.props;
---

<div class="link-card">
  <div class="card-item">
    <h3>
      {title}
    </h3>
    <Image
      src={image}
      alt={altImg}
      class="w-full rounded-lg"
      loading="lazy"
    />
    <p>
      {body}
    </p>
  </div>
</div>
<style>
  .link-card {
    list-style: none;
    display: flex;
    padding: 1px;
  }
  .link-card > .card-item {
    width: 100%;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    color: white;
    opacity: 0.8;
  }
  h3 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    color: rgb(var(--accent));
    transition: all 0.3s;
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 1rem;
    text-align: center;
    color: white;
    opacity: 0.8;
  }
  .link-card:is(:hover, :focus-within) h3 {
    color: white;
  }
</style>
