---
import { Image } from "astro:assets";
interface Props {
  title: string;
  body: string;
  image: ImageMetadata;
  altImg: string;
}

const { title, image, body, altImg } = Astro.props;
---

<div class="p-1 aspect-auto">
  <div>
    <h3
      class="text-primary text-center text-xl md:text-2xl p-3 mb-2 font-semibold animate-fade-down"
    >
      {title}
    </h3>
    <Image
      src={image}
      alt={altImg}
      class="rounded-lg"

      loading="lazy"
    />
    <p class="text-white text-center p-3 text-sm md:text-lg opacity-80">
      {body}
    </p>
  </div>
</div>
